.footer-logo {
  transition: transform 0.3s ease-in-out;
}

.footer-logo:hover {
  transform: scale(1.1);
}

p{
    color: #808080;
}

footer.bg-dark {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
